/* Hide titlebar for use sidebery */

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar>.toolbar-items {
opacity: 0;
pointer-events: none;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar >.toolbar-items {
visibility: collapse !important;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar > .titlebar-buttonbox-container {
display: flex;
width: 100%;
justify-content: start;
align-items: center;
height: 2.7em; /* Default tab lable height */
}

/* Move the window control buttons to the right side on non-macOS platforms */
@media not (-moz-platform: macos) {
    #main-window:not([tabsintitlebar="true"]) #TabsToolbar > .titlebar-buttonbox-container {
        justify-content: end;
    }
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header
 {
display: none;
}

.tab {
margin-left: 1px;
margin-right: 1px;
}
