doctype html
html(lang='zh')
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title='Novel Download As Epub'
    body
        link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/dashboard.css")
        link(rel="stylesheet", href="css/main.css")
        nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
            a.navbar-brand.col-sm-3.col-md-2.mr-0(href='#') Novel Downloader
            input.dir-path.form-control.form-control-dark.w-100(type="text")
            ul.navbar-nav.flex-row.px-3
                li.nav-item.text-nowrap.px-3
                    a.dir-choose.nav-link(href='#') Choose
                li.nav-item.text-nowrap.px-3
                    a.dir-load.nav-link(href='#') Load
        .container-fluid.dashboard
            .col-md-3.d-none.d-md-block.bg-light.sidebar
                .sidebar-sticky
                    ul.nav.flex-column
                        li.nav-item.mx-auto
                            img.book-img
                        li.nav-item
                            .container
                                .row
                                    .col-sm Title
                                    .col-sm {{ book.title }}
                                .row
                                    .col-sm Author
                                    .col-sm {{ book.author }}
                                .row
                                    .col-sm Source
                                    .col-sm {{ book.source }}
                                .row
                                    .col-sm URL
                                    .col-sm {{ book.url }}
                                .row 
                                    .col-sm {{ book.desc }}
                        li.nav-item.mx-auto
                            button.btn.btn-dark.btn-block(type="button") Build
                                           
            main.col-md-9.ml-sm-auto.col-lg-9.px-4(role="main")
                .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
                    h2.h2 Dashboard
                    .btn-toolbar.mb-2.mb-md-0
                        button.btn.btn-secondary(type="button") Sync
                ul.list-group
                    // <li class="list-group-item"> First </li>
            .fixed-bottom.h-25
                ul.list-group.vw-100.info-box
                    li.list-group-item Hello!
        script.
            window.exports = {}
            window.$ = window.jQuery = require('jquery')
        script(src="bootstrap/js/bootstrap.min.js")
        script(src="rendererMain.js")

        